/*service-department*/
.service__hero {
  background: url(/img/service-department/service-department-bg.jpg) center no-repeat;
}

.services-container {
  padding-top: 40px;
  max-width: 1200px;
  margin: 34px auto 0;
}

.services__heading {
  font-family: "PFDinTextUniversal-Medium";
  margin-bottom: 50px;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 85px;
}

.services-list__item {
  max-width: 192px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
}

.services-list__icon {
  width: 192px;
  height: 192px;
  background: url(/img/service-department/sprite.png) no-repeat;
  margin-bottom: 35px;
}
.services-list__icon_1 {
  background-position: -718px 0px;
}
.services-list__icon_2 {
  background-position: -480px 0px;
}
.services-list__icon_3 {
  background-position: -719px -266px;

}
.services-list__icon_4 {
  background-position: -910px 0px;
}
.services-list__icon_5 {
  background-position: -238px 0px;
}
.services-list__icon_6 {
  background-position: 0px -267px;
}
.services-list__icon_7 {
  background-position: -1148px 0px;
}
.services-list__icon_8 {
  background-position: -238px -267px;
}
.services-list__icon_9 {
  background-position: -480px -267px;
}


.services-list__text {
  width: 100%;
  text-align: center;
}

.services-contact {
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.services-contact__text{
  margin-bottom: 40px;
}

.services-contact-list {
  max-width: 1200px;
  /*display: flex;*/
  /*justify-content: space-between;*/
}

.services-contact-list_icon {
  margin-bottom: 10px;
}
/*.services-contact-list__item {*/
  /*width: calc(460/1155*100%);*/
/*}*/
.services-contact-list__item {
  padding-left: 70px;
  position: relative;
    margin-bottom: 20px;
}
.services-contact-list__item:first-child:after {
  position: absolute;
  top: 10px;
  left: 0;
  width: 38px;
  height: 57px;
  content: url(/img/service-department/phone-icont.png);
}

.services-contact-list__text {
     color: #292937;
     font-family: "PFDinTextUniversal-Light";
     font-size: calc(22/16*1rem);
     line-height: 1.5;
 }
.services-contact-list__head {
    color: #0035aa;
    font-family: "PFDinTextUniversal-Light";
    font-size: calc(24/16*1rem);
    line-height: 1.5;
}
.services-contact-list__text_medium {
  font-family: "PFDinTextUniversal-Medium";
}

.services-contact-list__link {
  font-family: "PFDinTextUniversal-Light";
  font-size: calc(24/16*1rem);
  color: #292937;
  text-decoration: none;
}
/*.services-contact-list__link {*/
  /*font-family: "PFDinTextUniversal-Medium";*/
/*}*/
.services-contact-list__link_phone {
  display: inline-block;
  position: relative;
  margin-top: 7px;
  padding-left: 20px;
  margin-right: 22px;
}
.services-contact-list__link_phone:before {
  position: absolute;
  top: 0px;
  left: 0;
  width: 6px;
  height: 18px;
  content: url(/img/service-department/phone-icon_2.png);
}
.services-contact-list__link_phone:last-child {
  margin-right: 0;
}
.services-container .parking__sub-heading{
    font-size: 32px;
}
.button.button-blue {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 580px;
  font-size: 24px;
  height: 60px;
  background: #1A4AB3;
  color: #ffffff;
  transition-duration: 0.5s;
  text-decoration: none;
}
.button.button-blue:hover {
  background-color: #0f1157;
}
.button_center {
	width: 100%;
    max-width: 900px;
    padding: 0 10px;
    margin: 0 auto;
}
.button-call {
    font-family: "IntroBlack", arial, sans-serif;
    display: block;
    text-align: center;
    letter-spacing: 2px;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    line-height: 48px;
    margin: 50px auto 27px;
	margin-bottom: 48px;
}

@media screen and (max-width: 1086px) {
  .services-list {
    flex-wrap: wrap;
    justify-content: space-around;
	padding: 0 62px;
  }
  .services-list__item {
    margin: 0 20px 20px;
  }
  .parking__container{
    padding: 40px 30px 0;
  }
  .services-container{
    padding: 40px 30px 0;
  }
  .services-contact{
    padding: 0 30px;
  }
}

@media screen and (max-width: 767px) {
  .services-list {
    flex-wrap: wrap;
    margin-bottom: 40px;
	padding: 0px 114px;
  }
  .services-list__item {
    width: 100%;
    margin-bottom: 40px;
  }
.services-contact-list__item{
  padding-left: 0;
}
  .services-contact-list {
    flex-direction: column;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
  }

  .services-contact-list__item {
    width: 90%;
     margin-bottom: 15px;
  }
  .services-contact-list__item:first-child {
    padding-left: 0;
    margin-bottom: 20px;
  }
  .services-contact-list__item:first-child:after {
    display: none;
  }

  .services-contact-list__text {
    font-size: 1rem;
  }

  .services-contact-list__link {
    font-size: 1rem;
  }
  .button.button-blue{
    width: 50%;
    font-size: 2vw;
  }
}
@media screen and (max-width: 560px){
  .services-container .parking__sub-heading{
    font-size: 22px;
  }
  .services-list{
    padding: 0;
  }
  .services-list__item{
    padding: 0;
  }
  .parking__text{
    padding: 0;
  }
}
/*end__service-department*/