
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
 

	<link rel="stylesheet" type="text/css" href="../../../css/scroll.css" />
    <link rel="stylesheet" type="text/css" href="../../../css/style.css" />
    <link rel="stylesheet" type="text/css" href="../../../css/menu.css" />
	    <link rel="stylesheet" type="text/css" href="../../../css/choise.css" />

  </head>
  <body data-hijacking="off" data-animation="scaleDown">


    <div id="class_beg" class="header choice1">
    <!--     контактная форма    -->
   
      

<!--    конец  контактная форма    -->


        <div class="wrap_header">
 
      <!-- начало верхнего меню -->
           <div class="top-menu">
       
             <div class="right_item">

             </div>

			<div class="call">
              <div class="call-phone">
                <img src="../../../img/icons/phone.png" alt="phone" />
                <p class="call-text">телефон гарячої лінії</p>
                <p class="call-number ringo-phone">(044) 227 78 44</p>
              </div>
            
            </div>

                  <div class="clearfix"></div>
                </div>

<!-- конец верхнего меню -->



   


		  			          <div class="clearfix"></div>


  <span id="content">  	<!--start-->
            <div class="header-bottom">
              <div class="compass clearfix">
                <img src="../../../img/compas.png" alt="comp">
                <span>сторони </br>світу</span>

              </div>

              <div class="ch-left">
            
                <div class="ch-level">
               

                  <span>3</span>поверх

                </div>
              <div class="logo"><img src="../../../img/logo.jpg" alt="logo" /></div>

              </div>

              <div class="ch2-center">
                <div class="appart-plan">
                  <span class="appart-name">Квартира 2.18</span>
                  <img src="../../../img/houses/house3_png_white/2_18.png" alt="appart">
                </div>
                <div class="ch-center-bot">
                  <div class="ch-table">
                    <h4>Площа м.кв.</h4>
					<div class="table-item1"><ul><li>Загальна</li><li>Житлова</li><li>Передпокій</li><li>Кухня</li><li>Вітальня</li></ul></div><div class="table-item2"><ul><li>68.67</li><li>31.21</li><li>11.65</li><li>8.62</li><li>13.21</li></ul></div><div class="table-item3"><ul><li>Спальня</li><li>Санвузол</li><li>Ванна</li><li>Балкон</li><li>Гардеробна</li></ul></div><div class="table-item4"><ul><li>18</li><li>1.84</li><li>3.64</li><li>4,83*0,3</li><li>6.71</li></ul></div>
                  </div>
                  <div class="ch-tab-right">
                    <div class="ch-sec">
                      <p class="ch-sec-num">4</p>
                      <p>секція</p>

                    </div>
               
                  </div>

                </div>

              </div>

              <div class="ch2-right">
             
                <div class="ch-sect">
                  <p>Обрана секція</p>
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 188 211" style="enable-background:new 0 0 188 211;" xml:space="preserve">
<style type="text/css">
	.st0{fill: transparent;stroke:#FFFFFF;stroke-miterlimit:10;}
	.st1{fill:#0035AA;}
	.st2{fill:#FFFFFF;}
	.st3{font-family:"PFDinTextUniversal"; fill:#FFFFFF;}
	.st4{font-size:18px; }
</style>
</a>
<a class="op_ajax" href="/plan2/sections6/floor8">
<polygon class="st0" points="58.1,25 43.9,25 43.8,25 23.1,25 23.1,45.7 23.1,60 23.1,97 43.9,97 43.9,45.7 58.1,45.7 "/>
<g>
	<g>
		<text transform="matrix(1 0 0 1 28.2988 62.6786)" class=" st3 st4">6</text>
	</g>
</g>
</a>
<a class="op_ajax" href="/plan2/sections2/floor8">
<polygon class="st0" points="138.9,25 153.1,25 153.2,25 173.9,25 173.9,45.7 173.9,60 173.9,97 153.1,97 153.1,45.7 138.9,45.7 "/>
<g>
	<g>
		<text transform="matrix(1 0 0 1 158.632 65.012)" class=" st3 st4">2</text>
	</g>
</g>
</a>
<a class="op_ajax" href="/plan2/sections1/floor8">
<rect x="62.4" y="24.9" class="st0" width="72" height="20.8"/>
<text transform="matrix(1 0 0 1 93.1252 41.4326)" class=" st3 st4">1</text>
</a>
<a class="op_ajax" href="/plan2/sections5/floor8">
<polygon class="st1" points="58.1,174.7 43.9,174.7 43.8,174.7 23.1,174.7 23.1,154 23.1,139.7 23.1,102.7 43.9,102.7 43.9,154 
	58.1,154 "/>
<g>
	<text transform="matrix(1 0 0 1 28.2985 138.6787)" class="st0 st3 st4">5</text>
</g>	
	</a>
<a class="op_ajax" href="/plan2/sections3/floor8">
<polygon class="st0" points="138.9,174.7 153.1,174.7 153.2,174.7 173.9,174.7 173.9,154 173.9,139.7 173.9,102.7 153.1,102.7 
	153.1,154 138.9,154 "/>
<g>
	<g>
		<text transform="matrix(1 0 0 1 158.632 138.6787)" class=" st3 st4">3</text>
	</g>
</g>	
	</a>
<a class="op_ajax" href="/plan2/sections4/floor8">
<rect x="62.4" y="154" class="st0" width="72" height="20.8"/>
<g>
	<g>
		<text transform="matrix(1 0 0 1 93.1248 170.6787)" class=" st3 st4">4</text>
	</g>
</g>
</a>
</svg>
 
                </div>

              </div>
          </div>
<!--END-->
      	  
		  
		  


      </div>
 </span>

      </div>

	  
  </body>
</html>
